# =========================
# Backend / Java
# =========================

# Compiled class files
*.class

# Logs
*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Ignore application.properties
backend/src/main/resources/application.properties
backend/target/

# =========================
# Frontend / Node
# =========================

# Node modules
node_modules/

# Build / dist folders
dist/
dist-ssr/
build/

# Env files
*.env
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Editor / OS files
# =========================

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
